:root {
    --clr-purple: #381850;
    --clr-yellow: #ffff64;
    --clr-white: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    color: var(--clr-yellow);
    font-family: "Red Hat Display", sans-serif;
    font-family: "Raleway", sans-serif;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background: var(--clr-purple);
    color: #ffffffd8;
    font-family: "Raleway", sans-serif;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* added for nav-toggle positioning */
    position: relative;
}

.list__style {
    list-style: none;
    padding-left: 0;
}

.hero__content {
    font-size: .925rem;
    font-size: clamp(1rem, .964rem + .18vw, 1.1rem);
    font-size: clamp(.925rem, .862rem + .29vw, 1.1rem);
}

.main__title--style {
    color: var(--clr-purple);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.35rem;
    font-size: clamp(1.75rem, 1.53rem + 1.9vw, 2.35rem);
    font-size: clamp(1.7rem, 1.466rem + 1.99vw, 2.35rem);
    font-size: clamp(1.7rem, 1.446rem + 2.16vw, 2.4rem);
    font-size: clamp(1.65rem, 1.377rem + 2.25vw, 2.4rem);
    font-size: clamp(1.75rem, 1.515rem + 2.06vw, 2.4rem);
}


.header__content {
    height: fit-content;
    background: #ffffff;
    padding: 1.35em 0;
    text-align: center;
    width: 100%;
    position: fixed;
    /*  relative  */
    z-index: 1;
    filter: drop-shadow(0 .3em .3em #38185076);

}

/* .bg__accent--header {
    background: white;
} */

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: var(--clr-purple);
    color: var(--clr-white);
    transition: opacity 250ms ease;

    position: absolute;
    right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--clr-white);
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
    padding: 1.5em 0 .75em;
}

.nav__item+.nav__item {
    margin-top: .65em;
}

.nav__item {
    padding: .35em;
}

.nav__link {
    color: var(--clr-purple);
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.link__item {
    text-decoration: none;
}

.row__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropbtn {
    font: inherit;
    font-weight: 900;
    color: #381850;
    background: #ffffff;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    left: calc(100% - 7.5rem);
    background-color: #f9f9f9;
    padding: .75rem;
    border-radius: .35rem;
    box-shadow: 0 .5em 1em 0 #381850f0;
    opacity: 0;
    z-index: 1;
}

.dropdown>.dropbtn:focus+.dropdown-content {
    opacity: 1;
}

.dropdown-content a {
    font-size: .85rem;
    color: var(--clr-purple);
    padding: .75em 1em;
    text-decoration: none;
    display: inline-block;
    text-align: left;
}

/* .dropdown-content a:hover {
    background-color: #f1f1f1;
    background-color: #ffff64;
} */

.dropdown:hover .dropdown-content {
    display: inline-block;
}


.logo {
    width: calc(3rem + 1.25vw);
}

.bg__accent {
    background: #ffffff;
}

.intro {
    padding: 6em 0 0;
    height: calc(18.5rem + 13vh);
}

.brand__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5em 0 .8em;
}

.brand__name {
    width: 75%;
    max-width: 30rem;
    margin-bottom: 1.5em;
}

.main__title {
    margin-bottom: .8em;
}

.list__item--bg {
    font-family: "Red Hat Display", sans-serif;
    /* font-size: 1.2rem; 1.75rem */
    font-size: clamp(1.2rem, 1rem + 1.2vw, 1.75rem);
    font-size: clamp(1.15rem, .933rem + 1.25vw, 1.75rem);
    font-size: clamp(1rem, .728rem + 1.36vw, 1.75rem);
    background: var(--clr-purple);
    color: var(--clr-yellow);
    text-align: center;
    font-weight: 800;
    word-spacing: 1.5px;
    text-transform: uppercase;
    padding: .75em;
}

.scroller {
    max-width: 825px;
    margin: 0 auto;
}

.scroller__inner {
    padding-block: 1rem;
    padding-inline: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    /* mask: linear-gradient(90deg, transparent, white, white, transparent); */
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-duration, forwards) linear infinite;

}

.scroller[data-direction="left"] {
    --_animation-duration: forwards;
}

.hero {
    padding-block: 2.25em;
}

.info {
    padding: 2.25em 0 4em;
}

.section__title,
.section__title--main {
    text-transform: uppercase;
}

.divider {
    border-bottom: 2px solid var(--clr-white);
}

.section__title {
    margin-bottom: .5em;
    font-size: 1.1rem;
    font-size: clamp(1rem, .892rem + .54vw, 1.3rem);
}

.hero__content {
    margin-bottom: 1em;
}

.hero__content--margin {
    margin-bottom: 0;
}

.list__style--marker {
    list-style-position: outside;
    padding-left: 1em;
    margin-bottom: .75em;
}

.footer {
    width: 100%;
    padding-block: .35em;
    background: var(--clr-white);
    position: fixed;
    bottom: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon__size {
    width: 24px;
}

.services {
    padding: 6em 0 2em;
}

.bg__accent--main-title {
    background: var(--clr-white);
    padding-block: .35em;
}

/* .bg__accent--services {
    background: linear-gradient(180deg, white 65%, #ffff64 25%);
} */
/* .link__items--display {
    display: none;
} */


.services__content {
    padding: 1.85em 0 1.5em;
}

.section__title--main {
    color: var(--clr-white);
    text-shadow: 1px 0 2px #ffff64;
    /* font-size: 1.75rem; */
    /* font-size: clamp(1.45rem, 1.34rem + .79vw, 1.75rem); */
    font-size: clamp(1.375rem, 1.24rem + .93vw, 1.75rem);
    font-size: clamp(1.35rem, 1.205rem + .98vw, 1.75rem);
    font-size: clamp(1.325rem, 1.17rem + 1.02vw, 1.75rem);
    letter-spacing: 1px;
    margin-bottom: 1.2em;
}

.team {
    padding: 6em 0 2em;
}

.team__img {
    /* margin-bottom: 1em; */
    max-width: 250px;
    margin: 0 auto;
}

.img__border-radius {
    border-radius: .75rem;
}

.parent__position {
    position: relative;
}

.name__position {
    background: white;
    color: #381850;
    position: absolute;
    bottom: 0;
    padding: .5em .75em;
    border-bottom-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.text__style {
    font-size: 1.15rem;
    /* font-size: clamp(1rem, .892rem + .54vw, 1.3rem); */
    font-size: clamp(1rem, .946rem + .27vw, 1.15rem);
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 2.5px;
}

/* .team__content {
    padding-block: .75em;
} */

.content__width {
    padding-block: 1.25em;
}

.hero__content--padding {
    padding: 4em 0 2em;
}


@keyframes scroll {
    to {
        /* transform: translate(-75%); */
        transform: translate(calc(-75% - .5rem));
    }
}

@media (min-width: 768px) {

    .header__content {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        height: auto;
        position: relative;
    }

    .nav__list {
        display: flex;
        justify-content: flex-end;
        padding-block: 0;
    }

    .nav__item {
        padding: 1.35em 0;
    }

    .nav__item+.nav__item {
        margin-top: 0;
        margin-left: 2.5em;
    }

    .dropdown-content {
        width: fit-content;
        left: 0;
        right: 0;
        top: calc(100% + .05rem);
    }

    .display__lg-screen {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .hero__content {
        width: 75%;
        padding-block: 1.25em;
        margin: 0 auto;
    }

    .content__width {
        width: 48%;
    }

}