:root {
    --clr-purple: #381850;
    --clr-purple-opacity: #38185076;
    --clr-yellow: #ffff64;
    --clr-yellow-light: #fefe95;
    --clr-white: #ffffff;
    --clr-text: #ffffffd8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    color: var(--clr-yellow);
    font-family: "Red Hat Display", sans-serif;
    font-family: "Raleway", sans-serif;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background: var(--clr-purple);
    color: var(--clr-text);
    font-family: "Raleway", sans-serif;
    font-family: "Red Hat Display", sans-serif;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.list__style {
    list-style: none;
    padding-left: 0;
}

.brand__font {
    font-family: "Libre Bodoni", serif;
}

.brand__name {
    font-size: clamp(1.5rem, .465rem + 7.77vw, 4.35rem);
    font-weight: 900;
    color: var(--clr-white);
}

.fs__scroller {
    font-family: "Red Hat Display", sans-serif;
    font-size: clamp(1rem, .728rem + 1.36vw, 1.75rem);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 1.5px;
}

.fs__main--title {
    font-size: clamp(1.325rem, .534rem + 5.24vw, 3.5rem);
    color: var(--clr-white);
    text-align: center;
    text-transform: uppercase;
}

.main__title--services,
.main__title--contact,
.main__title--team {
    color: var(--clr-purple);
}

.fs__section--header {
    font-size: clamp(1.325rem, 1.17rem + 1.02vw, 1.75rem);
    color: var(--clr-white);
    text-shadow: 1px 0 2px var(--clr-yellow);
    letter-spacing: 1px;
}

.fs__section--title {
    font-size: clamp(1rem, .892rem + .54vw, 1.3rem);
    line-height: 1.4;
}

.fs__text {
    font-size: clamp(.975rem, .930rem + .22vw, 1.1rem);
}

.fs__team--name {
    font-size: clamp(1rem, .946rem + .27vw, 1.15rem);
    font-weight: 800;
    text-transform: uppercase;
    word-spacing: 2.5px;
}

.fs__services {
    font-size: clamp(1.325rem, .534rem + 5.24vw, 3.5rem);
    text-transform: capitalize;
    word-spacing: 4px;
}

.header__content {
    width: 100%;
    height: fit-content;
    background: var(--clr-white);
    padding: .55em 0;
    text-align: center;
    position: fixed;
    z-index: 1;
    filter: drop-shadow(0 .3em .3em var(--clr-purple-opacity));
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: var(--clr-purple);
    color: var(--clr-white);
    transition: opacity 250ms ease;
    position: absolute;
    right: 0;
}

.nav-toggle:hover,
.nav-toggle:focus {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: var(--clr-white);
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list {
    padding-block: 1.25em;
}

.nav__item+.nav__item {
    margin-top: .65em;
}

.nav__item {
    padding: .4em;
    transition: opacity 0.3s;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .8;
}

.nav__link:active {
    opacity: .75;
}

.nav__link {
    color: var(--clr-purple);
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.link__item {
    text-decoration: none;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    color: var(--clr-purple);
}

.services,
.team,
.contact,
.thankyou {
    position: relative;
    top: 6em;
}


.services,
.team,
.contact {
    padding: 0 0 2em;
}


.intro {
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
}

.intro__grid {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.video__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    aspect-ratio: 9/16;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.brand__position {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    place-content: center;
    place-items: center;
    padding: .8em 0;
}

.main__title--small {
    margin: 1.5em 0 1em;
}

.main__title {
    margin-bottom: .8em;
}

.about__grid {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
}

.hero {
    padding-block: 2.25em;
    border-bottom: 2px solid var(--clr-white);
}

.info {
    padding: 2.25em 0 4em;
}

.section__title,
.section__title--main {
    text-transform: uppercase;
}


.section__title {
    margin-bottom: .65em;
}

.hero__content,
.hero__content--service {
    margin-bottom: 1.25em;
}

.hero__content--team:last-of-type,
.services__content:last-of-type {
    border-bottom: none;
}

.list__style--marker {
    list-style-position: outside;
    padding-left: 1em;
    margin-bottom: .75em;
}

.footer {
    width: 100%;
    padding-block: .35em;
    background: var(--clr-white);
    position: fixed;
    bottom: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon__size {
    width: 24px;
}

.bg__accent--main-title {
    background: var(--clr-white);
    padding-block: .35em;
}

.main__services--grid {
    padding: 2em 0;
}

.services__grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.services__content {
    width: 100%;
    height: 100%;
    place-self: center;
    display: grid;
    grid-template-rows: subgrid;
    place-items: center;
    justify-content: center;
    padding: 2.5em 0 2em;
    border-bottom: 2px solid var(--clr-white);
    /* scroll-margin-block: 5.5rem;
    scroll-margin-block: 4.5rem; */

    scroll-margin-top: 7rem;
    scroll-margin-bottom: 6rem;
   
}


.tab__list {
    display: none;
}

.list__display {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: .5rem;
    row-gap: .5rem;
}

.item__bg {
    border: .5px solid var(--clr-yellow);
    border-radius: .5rem;
    padding: .35em .5em;
}

.section__title--main {
    margin-bottom: 1.2em;
}

.team__content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.team__item--grid {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    justify-items: center;
    grid-column: span 2;
}

.team__img {
    max-width: 250px;
    min-height: 350px;
    object-fit: cover;
}

.img__border-radius {
    border-radius: .75rem;
}

.parent__position {
    position: relative;
}

.name__position {
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--clr-white);
    color: var(--clr-purple);
    padding: .5em .75em;
    border-bottom-left-radius: .75rem;
    border-top-right-radius: .75rem;
}

.content__width {
    padding-block: 1.25em;
}

.hero__content--team {
    padding: 4em 0 2em;
    border-bottom: 2px solid var(--clr-white);
}

.contact__content {
    padding: 4em 0 2em;
    border-bottom: none;
}

.contact__title {
    margin-bottom: 1.25em;
}

.form__display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(18.75rem, 32rem);
    gap: .35rem;
    margin-bottom: 1em;
}

.contact__text {
    font-weight: 600;
}

input {
    padding-block: .5em;
}

label {
    font-weight: 800;
}

.contact__btn {
    place-self: center;
    padding: .5em 1.5em;
    margin-top: 1.5em;
    background: var(--clr-white);
    color: var(--clr-purple);
    font-weight: 800;
    border: none;
    border-radius: .35rem;
}

.contact__btn:hover {
    cursor: pointer;
    background: var(--clr-yellow);
    opacity: .9;
    box-shadow: 0 .15em .2em 0 #878772;
}

.thankyou {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ty__display {
    background: var(--clr-white);
    color: var(--clr-purple);
    border-radius: .35rem;
    padding: 5em 1.5em;
}

.ty__title {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: var(--clr-purple);
}

.ty__text {
    text-align: center;
    letter-spacing: .2px;
}

.ty__text:nth-of-type(2) {
    margin-bottom: 1em;
}

.req {
    color: red;
}

.attribution {
    display: none;
}

@keyframes scroll {
    to {
        transform: translate(calc(-75% - .5rem));
    }
}


@media (min-width: 48rem) {

    .header__content {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        height: auto;
        position: relative;
    }

    .nav__list {
        display: flex;
        justify-content: flex-end;
        padding-block: 0;
    }

    li.nav__item {
        padding-block: 1.15em;
        padding: 1.15em .5em;
    }

    .nav__item+.nav__item {
        margin-top: 0;
        margin-left: 1.5em;
    }

    .video__bg {
        aspect-ratio: 16/9;
    }

    .hero__content,
    .hero__content--service {
        width: 75%;
        padding-block: 1.25em;
        margin: 0 auto;
    }

  
    .display__lg-screen {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .content__width {
        padding-block: 0;
        width: 48%;
    }

    .contact__content {
        padding: 4.5em 0 2em;
    }

    .contact__text {
        text-align: center;
    }

    .form__display {
        padding-block: 1.75em;
    }

}


@media (min-width: 75rem) {

  
  .intro__grid {
        margin-top: 1em;
    }

    .container__layout {
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .services .container:not(.display__lg-screen) {
        width: 100%;
    }

    .main__services--grid {
        display: grid;
        grid-template-columns: 1fr minmax(65%, 2fr);
        gap: 2rem;
        padding: 3.5em 0 5.25em;
    }

    .tabs-container {
        padding-block: 1.5em;
    }

    .tab__list {
        display: block;
        position: sticky;
        inset-block-start: 9em;
    }

    .tab-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tab-btn {
        cursor: pointer;
        color: var(--clr-text);
        text-transform: uppercase;
        letter-spacing: .35px;
        font-size: .875rem;
        font-weight: 600;
        margin-bottom: 1.5em;
    }

    span.line__style {
        display: none;
    }


    .tab-btn:hover,
    .tab-btn:focus {
        font-size: 1rem;
        font-weight: 700;
        color: var(--clr-white);
        text-shadow: .35px 0 .5px var(--clr-yellow);
    }

    .tab-btn a:focus {
        font-size: 1rem;
        font-weight: 700;
        color: var(--clr-white);
        text-shadow: .35px 0 .5px var(--clr-yellow);
    }

    .tab-btn a:active {
        font-size: 1rem;
        font-weight: 700;
        color: var(--clr-yellow);
        text-shadow: .35px 0 .5px var(--clr-yellow);
    }

    .highlight {
        padding: 1.8em 2em;
    }

    .hero__content--service {
        width: 100%;
    }

    .services__content:focus,
    .services__content:target {
        height: 100%;
        box-shadow: 0 0 .5em 0 var(--clr-white);
        border-radius: .35rem;
        border: none;
    }

    .services__content:has(+ .services__content:target) {
        border: none;
    }

}
